__pycache__/
data/
sife.egg-info/
test.py
encryption/private_key.pem
encryption/public_key.pem
backup.hdn
.idea
.vscode
.mypy_cache
test.txt
data/
run.sh
new_passwords.db
passwords.db
password.txt
node_modules/
package-lock.json
package.json
